body{
	font-size: 30px;
}

img{
	max-width: 100%;
	height: auto;
	display: block;
	margin: auto;
}
p{
	margin: 70px;
	color: red;
	font-family: 'Lobster', cursive;
}
div {
	width: 70%;
	margin: auto;
	color: dodgerblue;
}

a{
	text-decoration: none;
	color: tomato;
	display: inline-block;
	margin: 20px 0;
	border-bottom: 1px solid transparent;
	transition: 0.2s easy-in;
}

a:hover{
	border-bottom-color: #929aab;
}
h1{
	color: green;
}
		
